# Build artifacts
*.obj
*.dll
*.exe
*.lib
*.pdb
*.ilk
*.exp
output/
src/*.obj
src/*.dll
src/*.exe
src/*.lib
libs/sqlite/*.obj
libs/sqlite/*.lib

# VS Code
.vscode/

# Temp files from DLL
/chrome_decrypt.log
/chrome_appbound_key.txt
/chrome_decrypt_session.cfg
/*_decrypt_cookies.txt
/*_decrypt_passwords.txt
/*_decrypt_payments.txt
/.vscode
/build
